.news {
	background: #3498db;
}

.family {
	background: #9b59b6;
}

.quote {
	background: #e67e22;
}

.love {
	background: #f1c40f;
}

.today {
	background: #ff0000;
}

.programming {
	background: #eb0980;
}